name: proxy-server
services:
  v2ray:
    image: ghcr.io/xtls/xray-core:25.5.16-ls
    command:
      - run
      - -config
      - /opt/v2ray/config.json
    restart: unless-stopped
    environment:
      - v2ray.vmess.aead.forced=false
    volumes:
      - ./v2ray.json:/opt/v2ray/config.json:ro
    expose:
      - 1312
    networks:
      - internal
    sysctls:
      - net.ipv4.tcp_retries2=3
      - net.ipv4.tcp_keepalive_time=3
      - net.ipv4.tcp_keepalive_intvl=3
      - net.ipv4.tcp_keepalive_probes=3

  direct-proxy:
    image: serjs/go-socks5-proxy
    environment:
      PROXY_PORT: 2080
    expose:
      - 2080
    user: "1000:1000"
    networks:
      - internal
      - default
    restart: always
    sysctls:
      - net.ipv4.tcp_retries2=3
      - net.ipv4.tcp_keepalive_time=3
      - net.ipv4.tcp_keepalive_intvl=3
      - net.ipv4.tcp_keepalive_probes=3

  wstunnel:
    image: ghcr.io/erebe/wstunnel:v10.5.1
    entrypoint:
      - /bin/bash
      - -c
    command:
      - >
        ./wstunnel server \
          --log-lvl WARN \
          --websocket-ping-frequency 1s \
          --remote-to-local-server-idle-timeout 5s \
          --restrict-http-upgrade-path-prefix wstunnel-$${AUTH_SECRET} \
          ws://[::]:8000
    environment:
      - AUTH_SECRET
    expose:
      - 8000
      - 2080
    user: "1000:1000"
    networks:
      - internal
    restart: always
    sysctls:
      - net.ipv4.tcp_retries2=3
      - net.ipv4.tcp_keepalive_time=3
      - net.ipv4.tcp_keepalive_intvl=3
      - net.ipv4.tcp_keepalive_probes=3

  proxy-gateway:
    image: nginx:alpine
    expose:
      - 80
    networks:
      - internal
      - proxy
    restart: always
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    sysctls:
      - net.ipv4.tcp_retries2=3
      - net.ipv4.tcp_keepalive_time=3
      - net.ipv4.tcp_keepalive_intvl=3
      - net.ipv4.tcp_keepalive_probes=3

networks:
  internal:
    internal: true
  proxy:
    name: reverse-proxy
    external: true
