name: proxy-wstunnel
services:
  wstunnel:
    image: ghcr.io/erebe/wstunnel:v10.5.1
    entrypoint:
      - /bin/bash
      - -c
    command:
      - >
        ./wstunnel client \
          --log-lvl WARN \
          --connection-retry-max-backoff 1s \
          --reverse-tunnel-connection-retry-max-backoff 1s \
          --connection-min-idle 3 \
          --websocket-ping-frequency 1s \
          --http-upgrade-path-prefix wstunnel-$${AUTH_SECRET} \
          --remote-to-local 'tcp://[::]:2080:proxy:2080?timeout_sec=30' \
          --http-headers "Host: $${SERVER}" \
          --tls-sni-override=$${SERVER} \
          --tls-verify-certificate \
          wss://server-forwarder:4443
    environment:
      - SERVER
      - AUTH_SECRET
    user: "1000:1000"
    networks:
      - internal
    restart: always
    sysctls:
      - net.ipv4.tcp_retries2=3
      - net.ipv4.tcp_keepalive_time=3
      - net.ipv4.tcp_keepalive_intvl=3
      - net.ipv4.tcp_keepalive_probes=3

  server-forwarder:
    image: alpine/socat:1.8.0.3
    entrypoint:
      - /bin/sh
      - -c
    command:
      - >
        socat -T 30 -t 10 \
          TCP-LISTEN:4443,fork,reuseaddr,nodelay,keepalive,keepidle=3,keepintvl=1,keepcnt=3,backlog=5000,so-rcvtimeo=1,so-sndtimeo=1 \
          TCP:$${SERVER}:443,nodelay,keepalive,keepidle=3,keepintvl=1,keepcnt=3,connect-timeout=5,so-rcvtimeo=5,so-sndtimeo=5,retry=5,interval=1
    environment:
      - SERVER
    expose:
      - 4443
    user: "1000:1000"
    networks:
      - default
      - internal
    restart: always
    sysctls:
      - net.ipv4.tcp_retries2=3
      - net.ipv4.tcp_keepalive_time=3
      - net.ipv4.tcp_keepalive_intvl=3
      - net.ipv4.tcp_keepalive_probes=3

  proxy:
    image: serjs/go-socks5-proxy:v0.0.4
    environment:
      PROXY_PORT: 2080
      REQUIRE_AUTH: "false"
    expose:
      - 2080
    user: "1000:1000"
    networks:
      - internal
      - default
    restart: always
    sysctls:
      - net.ipv4.tcp_retries2=3
      - net.ipv4.tcp_keepalive_time=3
      - net.ipv4.tcp_keepalive_intvl=3
      - net.ipv4.tcp_keepalive_probes=3

networks:
  default:
    # enable_ipv6: true
  internal:
    internal: true
    # enable_ipv6: true
